# Ключ Django
SECRET_KEY=c7zgrr644cudw8+iyogua3z-m-yss5nnlcpk#7#ef*nmf&xae4

# Режим разработки
DEBUG=True

# Настройки базы данных
NAME=catalog
USER=postgres
PASSWORD=1234
HOST=localhost
PORT=5432

# Настройки почтового клиента
EMAIL_HOST = 'smtp.yandex.ru'
EMAIL_PORT = 465
EMAIL_USE_TLS = False
EMAIL_USE_SSL = True
EMAIL_HOST_USER = 'test-mail-cfyz@yandex.ru'
EMAIL_HOST_PASSWORD =
