{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block content %}

<div class="py-5 bg-body-tertiary">
    <div class="container">
        <!-- Форма -->
        <div class="card mb-4 border-0 shadow-sm">
            <div class="row g-0">
                <form method="post" enctype="multipart/form-data" class="p-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Добавить продукт</button>
                    <!--suppress HtmlUnknownTarget -->
                    <a class="" href="{% if object %}{% url 'catalog:product_detail' object.pk %}{% else %}{% url 'catalog:product_list' %}{% endif %}">
                        Назад
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}