{% extends 'catalog/base.html' %}
{% load catalog_tags %}

{% block content %}

<div class="album bg-body-tertiary">

    {% include 'catalog/includes/category_navbar.html' %}
    <div class="container">

        <h2 class="mb-4 text-center">
            {{ category.name }}
        </h2>

        {% if products %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% for product in products %}
                    <div class="col">
                        <div class="card shadow-sm">

                            {% if perms.catalog.can_unpublish_product %}
                                {% if product.is_published %}
                                    <span class="badge bg-success mb-2">
                                        Опубликован
                                    </span>
                                {% else %}
                                    <span class="badge bg-secondary mb-2">
                                        Снят с публикации
                                    </span>
                                {% endif %}
                            {% endif %}

                            {# Изображение товара #}
                            <img
                                src="{{ product.image|media_filter }}"
                                alt="нет изображения"
                                class="card-img-top"
                                style="aspect-ratio: 1/1; object-fit: cover;"
                            >

                            <div class="card-body">

                                {# Название товара #}
                                <h5 class="card-text">
                                    {{ product.name }}
                                </h5>

                                {# Краткое описание #}
                                <p class="card-text" style="min-height: 85px">
                                    {{ product.description|truncatechars:100 }}
                                </p>

                                <div class="d-flex justify-content-between align-items-center">

                                    {# Кнопки действий #}
                                    <div class="d-flex gap-2">

                                        <a
                                            class="btn btn-sm btn-outline-secondary"
                                            title="Открыть карточку товара"
                                            href="{% url 'catalog:product_detail' product.pk %}"
                                        >
                                            Подробнее
                                        </a>

                                        <a
                                            class="btn btn-sm btn-outline-secondary"
                                            title="Добавить в корзину"
                                        >
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none"
                                                 stroke="currentColor"
                                                 stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round"
                                                 class="icon icon-tabler icon-tabler-shopping-cart">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                                <path d="M6 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                                <path d="M17 19a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                                                <path d="M17 17h-11v-14h-2" />
                                                <path d="M6 5l14 1l-1 7h-13" />
                                            </svg>
                                        </a>

                                    </div>

                                    {# Цена #}
                                    <small class="text-body-secondary">
                                        {{ product.price }} &#8381;
                                    </small>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        {% else %}
            {# Если в категории нет товаров #}
            <p class="text-muted">
                В этой категории пока нет товаров.
            </p>
        {% endif %}

    </div>
</div>

{% endblock %}
